*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
    font-family: "Times New Roman";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
/* Begin Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 15vh;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;


    /* padding: 5% 5%; */
}
.logo{
    width: 12%;
    height: 80%;
    align-items: center;
    justify-content: end;
}
.logo img{
    width: 100%;
    height: 100%;
    margin-left: 15%;
}
.menus{
    display: flex;
    width: 45%;
    height: 50%;
    border: 1px solid rgba(192, 192, 192, 0.433);
    border-radius: 50px;
}
.menus ul{
    display: flex;
    /* width: 80%;
    height: 100%; */
    /* background-color: yellow; */
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 5%;
    font-size: 17px;
}
.menus ul li{
    list-style: none;
}
.menus ul li:hover{
    color: #bd754c;
    cursor: pointer;
    background-color: #feb68c1c;
    padding: 2%;
    border-radius: 50px;
}
.button{
    width: 15%;
    height: 80%;
    display: flex;
    align-items: center;
}
.button button{
    width: 100%;
    height: 50%;
    border-radius: 50px;
    margin-right: 20%;
    background-color: #bd754c;
    color: white;
    border: none;
    
}
/* Begin Hero  Section */
.hero-section{
    width: 80%;
    margin: 0 auto;
    height: 62vh;
    /* background-color: yellow; */
    display: flex;
    margin-bottom: 5%;
}
.left-section{
    /* background-color: green; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* line-height: 70px; */
}
.left-section h3{
    font-size: 22px;
    margin-top: 7%;
}
.left-section h1{
    font-size: 48px;
}
.left-section h1 span{
    color: #bd754c;
}
.left-section p{
    font-size: 18px;
    line-height: 30px;
}
.hero-section .right-section{
    width: 50%;
    height: 100%;
}
.section-btn{
    display: flex;
    /* background-color: aliceblue; */
    width: 55%;
    height: 13%;
    justify-content: space-between;
}
.section-btn .btn-1 ,.section-btn .btn-2{
    width: 45%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 5px;
}
.btn-1 img {
    width: 20%;
    height: 80%;   
}
.btn-1 h4 ,.btn-2 h4{
    color: white;
    font-weight: 400;
}
.btn-1 h4 span,.btn-2 h4 span{
    font-weight: 900;
    color: white;
}
 .btn-2 img{
    width: 30%;
    height: 80%;  
 }    
.right-section{
    width: 50%;
    height: 100%;
}
.right-section img{
    width: 100%;
    height: 100%;
}
/* Feature Section Begin */
.feature-section-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 95%;
    border-radius: 10px;
    margin: 0 auto;
    height: 30vh;
    margin-top: 5%;
    margin-bottom: 2%;
    padding-top: 3%;
}
.feature-section-1 h2{
    font-size: 44px;
}
.feature-section-1 p{
    font-size: 18px;
}
.feature-section-2{
    width: 95%;
    height: 90vh;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
.feature-card{
    width: 30%;
    height: 48%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.feature-card i{
    font-size: 36px;
    background-color: #ebe9e884;
    color: #bd754c;
    width: 25%;
    height: 25%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature-card i:hover{
    color: white;
    background-color: #bd754c;
}
.feature-card h2{
    font-size: 34px;
    color: rgba(0, 0, 0, 0.89);
}
.feature-card p{
    font-size: 21px;
    word-spacing: 2px;
}
/* Download Section */
.download-section{
    width: 95%;
    padding: 10%;
    margin: 0 auto;
    height: 90vh;
    background-color: white;
    /* border: 1px solid white; */
    display: flex;
    margin-bottom: 2%;
}
.download-left-section{
    /* background-color: green; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* line-height: 70px; */
}
.download-left-section h3{
    font-size: 22px;
    margin-top: 7%;
}
.download-left-section h1{
    font-size: 48px;
}
.download-left-section h1 span{
    color: #bd754c;
}
.download-left-section p{
    font-size: 18px;
    line-height: 30px;
}
.download-section .right-section{
    width: 50%;
    height: 100%;
}
.download-section-btn{
    display: flex;
    /* background-color: aliceblue; */
    width: 55%;
    height: 13%;
    justify-content: space-between;
}
.download-section-btn .btn-1 ,.download-section-btn .btn-2{
    width: 45%;
    height: 100%;
    background-color: #bd754c;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 5px;
}
.btn-1 img {
    width: 20%;
    height: 80%;   
}
.btn-1 h4 ,.btn-2 h4{
    color: white;
    font-weight: 400;
}
.btn-1 h4 span,.btn-2 h4 span{
    font-weight: 900;
    color: white;
}
 .btn-2 img{
    width: 30%;
    height: 80%;  
 }    
.right-section{
    width: 50%;
    height: 100%;
}
.right-section img{
    width: 100%;
    height: 100%;
}
/* How its work section begin here */
.how-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 95%;
    border-radius: 10px;
    margin: 0 auto;
    height: 25vh;
    /* margin-top: 5%; */
    margin-bottom: 2%;
    padding-top: 3%;
}
.how-section h2{
    font-size: 44px;
}
.how-section p{
    font-size: 18px;
}

/* Begin Step Section Here */
.step-section{
    width: 95%;
    height: 50vh;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
.step-card{
    width: 30%;
    height: 90%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.step-card i{
    font-size: 36px;
    background-color: #ebe9e884;
    color: #bd754c;
    width: 25%;
    height: 25%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.step-card i:hover{
    color: white;
    background-color: #bd754c;
}
.step-card h2{
    font-size: 34px;
    color: rgba(0, 0, 0, 0.89);
}
.step-card p{
    font-size: 21px;
    word-spacing: 2px;
}